/*.ipynb
__pycache__/
ScisoorsRockPaper/__pycache__/
GermanTrafficSignRecognition/Models/
GermanTrafficSignRecognition/GermanTrafficSignRecognitionBenchmark/Meta/
GermanTrafficSignRecognition/GermanTrafficSignRecognitionBenchmark/Train/
*.~lock
NLP_and_RNN/training_checkpoints/

