*.ipynb
__pycache__/
GermanTrafficSignRecognition/Models/
GermanTrafficSignRecognition/GermanTrafficSignRecognitionBenchmark/Meta/
GermanTrafficSignRecognition/GermanTrafficSignRecognitionBenchmark/Train/
*.~lock
training_checkpoints/

