/*.ipynb
__pycache__/
ScisoorsRockPaper/__pycache__/
GermanTrafficSignRecognition/Models/
GermanTrafficSignRecognition/GermanTrafficSignRecognitionBenchmark/Meta/
GermanTrafficSignRecognition/GermanTrafficSignRecognitionBenchmark/Train/
*.~lock
training_checkpoints/

